<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Define the targets -->
  <targets>
    <!-- Write logs to a file -->
    <target name="file" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} | ${level:uppercase=true} | ${message}" />
    <!-- Write logs to the console -->
    <target name="console" xsi:type="Colored Console" layout="${longdate} | ${level:uppercase=true} | ${message}" />
  </targets>

  <!-- Define the logging rules -->
  <rules>
    <!-- Log everything to both targets -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
